<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            **/Models/*.cs,
            **/Services/*Store.cs,
            **/Program.cs,
            **/*.Generated.cs
          </ExcludeByFile>
          <Exclude>
            [*]Microsoft.AspNetCore.OpenApi.*,
            [*]System.Runtime.CompilerServices.*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>